/* cadastro.module.css */

.bg {
  position: absolute;
  width: auto;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  margin-top: 10rem;
}

.logoRegisterBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.logoRegisterBox img {
  width: 6rem;
  cursor: pointer;
}

.bg img {
  height: 100%;
  position: fixed;
  object-fit: cover;
}

.formContainerCadastro {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 30rem;
}

.form {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 40rem;
  background: #fff;
  margin: 2rem 0;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  font-size: 1.4rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-transform: none;
  margin-top: 0.5rem;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.checkboxContainer label {
  font-size: 1.4rem;
  margin-left: 0.5rem;
}

.radios {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
  align-items: center;
  justify-content: center;
}
.radios p {
  font-size: 1.4rem;
}

.btnLogin {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btnLogin:hover {
  background-color: #0056b3;
}

.loginLinks {
  margin-top: 1rem;
}

.loginLinks p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.loginLinks a {
  color: #0056b3;
}

.nascimentoInput {
  padding: 1rem;
  margin-left: 2rem;
  border-radius: 0.5rem;
}

@media (max-width: 995px) {
  .formContainerCadastro {
    justify-content: center;
    margin-right: 0;
  }
}

@media (max-width: 400px) {
  .bg {
    display: none;
  }
  .form {
    margin: 0 auto;
    width: 90% !important;
  }

  
  .radios {
    flex-direction: column;
  }
}
