#header {
  display: flex;
  justify-content: space-between;
  background-color: var(--background);
  align-items: center;
  padding: 1.5rem 7%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 10rem;
  z-index: 1000;
}

#header .logo img {
  width: 6rem;
  cursor: pointer;
}

#header .navBar ul a {
  font-size: 1.6rem;
  color: var(--black);
  margin-left: 1.8rem;
}

#header .navBar ul a:hover {
  border-bottom: 0.1rem solid var(--hover-backgorund-color);
  color: var(--black);
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-box-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.5rem;
  width: 8rem;
}

.profile-box-items:hover {
  background: var(--hover-yellow);
}

.profile-box-items + .profile-box-items {
  margin-left: 2rem;
}

.profile-box-items p {
  font-size: 1.7rem;
  color: var(--black);
}

.profile-img {
  width: 4rem;
}

.icons #menuBar,
.icons #menuClosed {
  cursor: pointer;
  font-size: 3rem;
  margin-left: 4rem;
}

#header .icons {
  display: none;
  width: 6.5rem;
}
