@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap");

:root {
  --hover-backgorund-color: #d3ad7f;
  --black: #13131a;
  --background: #fffc00;
  --hover-yellow: #ece900;
  --white: #fff;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 400;
  border: none;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  outline: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
}

body {
  background: #ece900;
}

.container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-width: 1200px;
  height: 100%;
}

.icons .active {
  display: none;
}

#header .navBar.active {
  display: none;
}

.footer {
  background: var(--black);
  width: 100vw;
  padding: 3rem;
  padding-bottom: 0.8rem;
  position: relative;
  bottom: 0;
  left: 0;
}

.adoteSection {
  width: 100%;
  height: 100%;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.adoteSection .titlesSection .titleAdote {
  font-size: 2.5rem;
  text-align: center;
  color: rgb(97 51 135 / 1);
  margin-bottom: 2rem;
}

.adoteSection .titlesSection .subtitleAdote {
  font-size: 1.6rem;
  text-align: center;
  color: #666;
}

.petsBox {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  width: 100%;
  margin-top: 6rem;
  justify-content: center; /* Adicionando centralização horizontal */
}

.petsBox .pet {
  padding: 1rem;
  width: 25rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.petsBox .pet:hover {
  transform: translateY(-5px);
}

.petsBox .pet img {
  width: 25rem;
  height: 25rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.petsBox .pet h2 {
  font-size: 1.6rem;
  color: rgb(97 51 135 / 1);
  font-weight: 700;
}

.petsBox .pet p {
  font-size: 1.4rem;
  color: #666;
}

.btn {
  display: block;
  padding: 0.7rem 3rem;
  font-size: 1.7rem;
  background-color: var(--hover-yellow);
  color: #1d1d2f;
  border-radius: 2rem;
  cursor: pointer;
}

.boxBtn {
  display: flex;
  gap: 2rem;
}

.filterForm {
  display: flex;
  width: 90%;
  align-items: center;
  height: 20rem;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.5rem;
}

.boxForm {
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
}

.boxForm select,
.boxForm input[type="text"] {
  width: 25rem;
  padding: 1rem;
  border: 1px solid #ccc;
  margin-right: 1rem;
  border-radius: 0.5rem;
}

.boxForm select {
  display: block;
}

.boxForm input[type="text"] {
  display: block;
}
