/* about.css */
.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  margin-top: 10rem;
  animation: fadeIn 1s ease-in;
}

.banner {
  position: relative;
  overflow: hidden;
  border-radius: 10px; /* Adicionando border radius ao banner */
  margin-bottom: 10rem;
}

.banner-img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease-in;
}

.banner:hover .banner-img {
  transform: scale(1.05);
}

.banner-text {
  position: absolute;
  bottom: 10rem;
  left: 8rem;
  color: #fff;
}

.banner-title {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 5px;
}

.banner-brand {
  font-size: 1.1rem;
}

.bone-icon {
  font-size: 3rem;
  margin-top: 10px;
  color: #fff;
}

.oquefazemos {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  animation: fadeInTitle 1s forwards ease;
}
.about-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem; /* Adicionando margem inferior */
  flex-wrap: wrap;
  width: 100rem !important;
}

.about-text {
  font-size: 1.6rem; /* Aumentando o tamanho da fonte */
  color: #fff;
  line-height: 1.6;
  margin-bottom: 20px;
  animation: fadeInText 1s forwards ease;
  width: 40rem;
  text-align: center;
  margin-top: 3rem;
}

.about-text-2 {
  font-size: 1.6rem; /* Aumentando o tamanho da fonte */
  color: #fff;
  line-height: 1.6;
  margin-bottom: 20px;
  animation: fadeInText 1s forwards ease;
  width: 90%;
  margin-top: 0.5rem;
}

.about-subtitle {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 10px;
}

.about-benefits {
  list-style: none;
  padding: 0;
}

.about-benefit {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 10px;
}

.about-contact-btn {
  display: inline-block;
  font-size: 1.2rem;
  color: #fff;
  background-color: #007bff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.about-contact-btn:hover {
  background-color: #0056b3;
}

/* Estilo para o card do cachorro */
.pet-card {
  width: 350px;
  height: 280px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out; /* Adicionando transição */
}

.pet-card:hover {
  transform: scale(1.05); /* Efeito de escala no hover */
}

.pet-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.reverse {
  flex-direction: row-reverse; /* Inverte a direção da linha para posicionar o card à esquerda */
}

@media (max-width: 999px) {
  .about-box {
    width: 100% !important;
  }
}

@media (max-width: 420px) {
  .pet-card {
    width: 100%;
    height: 100%;
    background-color: transparent !important;
    border: none !important;
  }

  .pet-card img {
    width: 25rem;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
  }
}
