.newPasswordSection {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newPasswordForm {
  display: flex;
  border: 1px solid #333; /* Alterando a cor da borda */
  border-radius: 5px;
  overflow: hidden; /* Oculta as bordas sobrepostas */
  width: 80%; /* Definindo a largura m치xima do formul치rio */
  margin: 0 auto; /* Centralizando o formul치rio na p치gina */
}

.profileImage {
  padding: 2rem;
}
.newPasswordImage {
  padding: 1rem;
  border-right: 1px solid #333; /* Alterando a cor da borda lateral */
}

.newPasswordImage img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.newPasswordLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newPasswordLinks .DatasProfileBox {
  padding: 1rem;
  text-align: center;
}

.newPasswordLinks .DatasProfileBox .linkData {
  font-weight: bold;
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
}

.newPasswordLinks .DatasProfileBox .linkData:hover {
  color: #000;
}

.separatorLine {
  border-top: 1px solid #333; /* Adicionando a borda superior */
}

.newPasswordDetails {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.newPasswordDetails label {
  font-weight: bold;
}

.newPasswordDetails input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 1px solid #333; /* Alterando a cor da borda inferior */
  background-color: transparent; /* Fundo transparente */
  color: #333; /* Cor do texto */
}

.newPasswordDetails input:focus {
  outline: none; /* Removendo o contorno ao focar */
}

.newPasswordDetails .passwordFields {
  display: flex;
  flex-direction: column;
}

.newPasswordDetails .passwordField {
  margin-bottom: 1rem;
}

.buttonContainer {
  margin-top: 1rem;
}

.buttonContainer button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonContainer button:hover {
  background-color: #555;
}

@media (max-width: 500px) {
  .profileImage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .profileImage img {
    width: 6rem;
    height: 6rem;

  }
}