.parceiros-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  margin-top: 10rem;
  animation: fadeIn 1s ease-in;
}

/* Estilos para o banner */
.banner {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.banner-img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease-in;
}

.banner:hover .banner-img {
  transform: scale(1.05);
}

.banner-text {
  position: absolute;
  bottom: 10rem;
  left: 8rem;
  color: #fff;
}

.banner-title {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 5px;
}

.banner-brand {
  font-size: 1.1rem;
}

.handshake-icon {
  font-size: 3rem;
  margin-top: 10px;
  color: #fff;
}

/* Estilos para a seção "O que fazemos" */
.oquefazemos {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  animation: fadeInTitle 1s forwards ease;
}

.about-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 4rem;
}

.about-text {
  font-size: 1.6rem;
  color: #444;
  line-height: 1.6;
  margin-bottom: 20px;
  animation: fadeInText 1s forwards ease;
  width: 40rem;
  text-align: center;
  margin-top: 3rem;
}

.about-text-2 {
  font-size: 1.6rem;
  color: #444;
  line-height: 1.6;
  margin-bottom: 20px;
  animation: fadeInText 1s forwards ease;
  width: 90%;
  margin-top: 0.5rem;
}

/* Estilos para os cards */
.partner-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

.card {
  width: 18rem;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card p {
  margin: 0;
}

/* Estilos para a seção de parceiros */
.partner-list-section {
  margin-top: 4rem;
  padding-bottom: 4rem;
}

.partner-list-section h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.partner-list-section p {
  font-size: 1.6rem;
  color: #444;
  line-height: 1.6;
  margin-bottom: 20px;
}

.partner-btn {
  display: inline-block;
  font-size: 1.6rem;
  color: #fff;
  background-color: #007bff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.partner-btn:hover {
  background-color: #0056b3;
}

.partner-card {
    width: 300px; /* Ajuste o valor conforme necessário */
    height: auto;
  }
  
  .partner-card img {
    width: 100%;
    border-radius: 8px;
  }
  
  @media (max-width: 420px) {

    .pet-card {
      width: 300px;
      height: 240px;
      background-color: transparent !important;
      border: none !important;
    }
  
    
    .pet-card img {
      width: 25rem;
      height: 70%;
      object-fit: cover;
      border-radius: 10px;
    }
  
  }