.btnServices,
.btnForm {
  padding: 0.7rem 3rem;
  font-size: 1.7rem;
  background-color: #1e7fa2;
  color: #fff;
  border-radius: 2rem;
  cursor: pointer;
}

.btnServices:hover,
.btnForm:hover {
  background-color: #1d7899;
}

.boxBtn {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
