.ajudeContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  margin-top: 10rem;
  animation: fadeIn 1s ease-in;
}

.banner {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.bannerImg {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease-in;
}

.banner:hover .bannerImg {
  transform: scale(1.05);
}

.bannerText {
  position: absolute;
  bottom: 10rem;
  left: 8rem;
  color: #fff;
}

.bannerTitle {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 5px;
}

.bannerBrand {
  font-size: 1.1rem;
}

.boneIcon {
  font-size: 3rem;
  margin-top: 10px;
  color: #fff;
}

.petCard {
  width: 300px;
  height: 240px;
  background-color: transparent !important;
  border: none !important;
}

.petCard img {
  width: 28rem;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.oquefazemos {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.aboutTitle {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  animation: fadeInTitle 1s forwards ease;
}

.aboutBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 4rem;
}

.aboutText {
  font-size: 1.6rem;
  color: #ffffff;
  line-height: 1.6;
  margin-bottom: 20px;
  animation: fadeInText 1s forwards ease;
  width: 40rem;
  text-align: center;
  margin-top: 3rem;
  display: flex;
  align-content: center;
  flex-direction: column ;
}

.aboutText2 {
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.6;
  margin-bottom: 20px;
  animation: fadeInText 1s forwards ease;
  width: 30rem;
  margin-top: 0.5rem;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

.donationsSection {
  margin-top: 4rem;
  padding-bottom: 4rem;
}

.donationsSection h2 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 20px;
}

.donationsSection p {
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.6;
  margin-bottom: 20px;
}

.donationMethods {
  margin-top: 2rem;
}

.donationMethods h4 {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 10px;
}

.donationMethods p,
.donationMethods li {
  font-size: 1.6rem;
  color: #fff;
  line-height: 1.6;
  margin-bottom: 20px;
}

.donationMethods ul {
  list-style: none;
  padding: 0;
}

.donateBtn {
  display: inline-block;
  font-size: 1.6rem;
  color: #fff;
  background-color: #007bff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.donateBtn:hover {
  background-color: #0056b3;
}

@media (max-width: 500px) {

  .petCard img {
    height: 70%;
  }

  .aboutBox {
  flex-direction: column;
  }

  .aboutText {
  font-size: 1.5rem;
  width: auto;
}
}
