/* SECTION SERVICES*/
.services {
  margin-top: 15rem;
}
.services-box {
  margin: 10rem 0;
  display: flex;
  width: 100%;
  height: 100%;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
}

.services-box .service-item {
  background: var(--white);
  height: 24rem;
  width: 20rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  justify-content: space-around;
  align-items: center;
}

.services-box .service-item .name-function {
  font-size: 2rem;
  color: var(--black);
}

.services-box .service-item i,
.services-box .service-item h2,
.services-box .service-item span {
  color: var(--black);
}

.services-box .service-item .description-function {
  font-size: 1.2rem;
  color: var(--black);
  padding: 0.5rem;
  text-align: center;
}

.services-box .service-item span {
  font-size: 1.6rem;
  margin-top: -1rem;
}

.sobre-nos {
  width: 80%;
  display: flex;
  gap: 5rem;
  justify-content: center;
  background: var(--white);
  margin: 0 auto;
  border-radius: 0.5rem;
}

.sobre-nos div {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sobre-nos div h2 {
  color: #13131a;
  margin-bottom: 3rem;
  text-align: center;
}

.sobre-nos div p {
  color: #13131a;
  text-align: center;
}

.sobre-nos .assunto-pertinente {
  width: 20rem;
}
