.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem 0;
}

.projects-container {
  display: flex;
  overflow-x: hidden; /* Oculta a barra de rolagem */
}

.projects-box {
  margin: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects-box .projects-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-left: 3rem;
  width: 100%;
}

.projects-box .projects-img img {
  width: 10rem;
  background: var(--black);
}

.wrapper {
  position: relative;
}

.title-section {
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  color: var(--black);
  margin-bottom: 3rem;
}

.parceria-name {
  text-align: center;
  font-size: 1.6rem;
  color: var(--black);
  margin-bottom: 3rem;
  display: block;
  margin: 0 auto;
}

.wrapper .fa-icon {
  z-index: 1000;
  position: absolute;
  top: 45%;
  height: 25px;
  width: 25px;
  background-color: #13131a;
  border-radius: 50%;
  cursor: pointer;
}

.wrapper .fa-angle-left,
.wrapper .fa-angle-right {
  color: #fff;
}

.wrapper #left {
  left: 1%;
}

.wrapper #right {
  right: 1%;
}

.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow-x: auto;
  display: flex;
  scroll-behavior: smooth;
  background: var(--white);
  width: 55rem;
  height: 20rem;
  border-radius: 0.5rem;
}

.right {
  font-size: 1.4rem;
  color: #fff;
  margin: 2.3rem;
  text-align: center;
}

.right span {
  color: var(--main-color);
  font-size: 1.4rem;
}
