#header {
  display: flex;
  justify-content: space-between;
  background-color: var(--background);
  align-items: center;
  padding: 1.5rem 7%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 10rem;
  z-index: 1000;
}



#header .logo img {
  width: 6rem;
  cursor: pointer;
  margin-bottom: -2rem;
}


#header .navBar ul a {
  font-size: 1.6rem;
  color: var(--black);
  margin-left: 3rem;
}

#header .navBar ul a:hover {
  border-bottom: 0.1rem solid var(--hover-backgorund-color);
  color: var(--black);
}

.profile {
  display: flex;
  justify-content: center; /* Centraliza os elementos horizontalmente */
  align-items: center; /* Centraliza os elementos verticalmente */
}


.profile-box-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.5rem;
  width: 8rem;
}

.profile-box-items-google {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.5rem;
  width: 8rem;
  position: relative; /* Adiciona posicionamento relativo */
}


.profile-box-items:hover {
  background: var(--hover-yellow);
}

.profile-box-items + .profile-box-items {
  margin-left: 2rem;
}

.profile-box-items p {
  font-size: 1.7rem;
  color: var(--black);
}

.profile-img {
  width: 4rem;
}

.profile-img-Logged-header {
  padding: 1rem;
  width: 9rem; /* Defina a largura da imagem */
  height: 9rem; /* Defina a altura da imagem */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem; /* Adiciona um espaçamento à direita */
  font-size: 1.5rem;
  border-radius: 50%; /* Isso torna a imagem redonda */
  position: relative;
}

.profile-img-Logged-header img {
  width: 100%; /* Ajusta a largura para preencher o contêiner */
  height: 100%; /* Ajusta a altura para preencher o contêiner */
  border-radius: 50%;
}


.icons #menuBar,
.icons #menuClosed {
  cursor: pointer;
  font-size: 3rem;
  margin-left: 4rem;
}

#header .icons {
  display: none;
  width: 6.5rem;
}

.mini-menu {
  position: absolute;
  top: 9rem; /* Ajuste conforme necessário */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  width: 10rem;
  height: 10rem;
  z-index: 999; /* Certifique-se de que o mini-menu esteja sobreposto a outros elementos */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mini-menu p {
  margin: 0.5rem;
  cursor: pointer;
  font-size: 1.3rem;
}

.mini-menu p:hover {
  color: blue; /* Adicione o estilo desejado para o hover */
}
