#header {
  display: flex;
  justify-content: space-between;
  background-color: var(--background);
  align-items: center;
  padding: 1.5rem 7%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 10rem;
  z-index: 1000;
}

#header .logo img {
  width: 6rem;
  cursor: pointer;
  margin-bottom: -2rem;
}

#header .navBar {
  display: flex;
}

#header .navBar.active {
  display: flex;
}

#header .navBar ul a {
  font-size: 1.6rem;
  color: #fff;
  margin-left: 3rem;
}

#header .navBar ul a:hover {
  border-bottom: 0.1rem solid var(--hover-backgorund-color);
  color: #fff;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-box-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.5rem;
  width: 8rem;
}

.profile-box-items-google {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.5rem;
  width: 8rem;
  position: relative;
}

.profile-box-items:hover {
  background: #146474;
}

.profile-box-items + .profile-box-items {
  margin-left: 2rem;
}

.profile-box-items p {
  font-size: 1.7rem;
  color: #fff;
}

.profile-img {
  width: 4rem;
}

.profile-img-Logged-header {
  padding: 1rem;
  width: 9rem;
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  font-size: 1.5rem;
  border-radius: 50%;
  position: relative;
}

.profile-img-Logged-header img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.icons #menuToggle {
  cursor: pointer;
  font-size: 3rem;
  margin-left: 4rem;
}

#header .icons {
  display: none;
  width: 6.5rem;
}

.mini-menu {
  position: absolute;
  top: 9rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  width: 10rem;
  height: 10rem;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mini-menu p {
  margin: 0.5rem;
  cursor: pointer;
  font-size: 1.3rem;
}

.mini-menu p:hover {
  color: blue;
}

@media (max-width: 850px) {
  html {
    font-size: 55%;
  }

  #header {
    padding: 1rem 5%;
    height: 8rem;
  }

  #header .logo img {
    width: 4rem;
  }

  #header .icons {
    display: block;
  }

  #header .navBar {
    position: absolute;
    background: var(--black);
    width: 17rem;
    top: 100%;
    right: 0;
    border-radius: 0.5rem;
    flex-direction: column;
    height: auto;
  }

  #header .navBar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30h;
  }

  #header .navBar ul a {
    font-size: 1.4rem;
    margin-left: 1rem;
    display: block;
    padding: 1rem;
    color: var(--white);
  }

  .profile-box-items {
    margin-left: 1rem;
  }

  .profile-img {
    width: 3rem;
  }

  .sobre-nos {
    width: 80%;
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    background: var(--white);
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .sobre-nos div {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sobre-nos div h2 {
    color: #13131a;
    margin-bottom: 3rem;
    font-size: 1.2rem;
  }

  .sobre-nos div p {
    color: #13131a;
    font-size: 1.2rem;
  }

  .sobre-nos .assunto-pertinente {
    width: 60%;
  }
}

@media (max-width: 530px) {
  .wrapper .fa-icon {
    display: none;
  }

  .wrapper .carousel {
    width: 30rem;
  }

  .projects-box {
    margin: 0;
  }

  .projects-box .projects-img img {
    width: 5rem;
  }

  .projects-box .projects-img {
    display: flex;
  }
}
